.video-player, .what-we-do {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.what-we-do {
    z-index: 2 !important;
}
.parallax-section {
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.parallax-background {
    height: 100%;
    position: relative;
}
.parallax-overlay-pattern{
    /*background: url('../../img/bg.jpg');
    background-size: cover;
    background-color: rgba(44,62,80 , 0.2 );*/
}
.brand-logo {
    width: 120px;
    margin-bottom: 60px;
}
.landing-page {
    background-color: #000000 !important;
}
.mi-background {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.25;
    -webkit-transition: -webkit-transform 3s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s, opacity 0.1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
    transition: transform 3s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s, opacity 0.1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black url(../../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -1;
}
.parallax-section .container {
    height: 100%;
    position: relative;
}
.parallax-section .content-holder {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}
.vertical-middle{
    display: block;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.btn-holder {
    margin-top: 20px;
    display: block;
}
.parallax-section .btn {
    background: transparent;
    color: #FFF;
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 8px 12px;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
    font-family: 'ralewaymedium',Helvetica,Arial,sans-serif;
}
.parallax-section .btn:hover {
    background: rgba(255, 255, 255, 0.20);
}

.parallax-section .panel, .parallax-section .panel-heading {
    background: rgba(255, 255, 255, 0.20);
    border-color: rgba(255, 255, 255, 0.20);
    color: #ffffff;
}

.parallax-section .form-control, .single-line {
    background-color: rgba(255, 255, 255, 0.20);
}
.parallax-section .panel-heading {
    text-transform: uppercase;
}
.parallax-section .title span span {
    color: #1ab394;
}